<!DOCTYPE html>
<html
    th:lang="#{ui.global.site.lang}"
    xmlns:th="http://thymeleaf.org"
    xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5"
    th:fragment="layout(title, content)"
>
    <head th:include="components/_head :: head(${title})"></head>

    <body>
        <header>
            <h1 class="to-upper"><a th:href="@{/}" th:text="#{ui.global.site.title}"></a></h1>

            <div class="login-info">
                <a href="/logout" class="btn-link">
                    <span class="material-icons">logout</span>
                    <span th:text="#{ui.global.components.buttons.exit}"></span>
                </a>
            </div>
        </header>

        <div id="root">
            <th:block th:replace="${content}" />
        </div>
    </body>
</html>
