<!DOCTYPE html>
<html
    th:lang="#{ui.global.site.lang}"
    xmlns:th="http://thymeleaf.org"
    th:fragment="layout(title, content)"
>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <title th:replace="${title}"></title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/global.css}">
        <link rel="stylesheet" th:href="@{/css/form.css}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a th:href="@{/user}" th:text="#{ui.global.navigation.home}"></a></li>
                <li><a th:href="@{/user}" th:text="#{ui.global.navigation.users}"></a></li>
                <li><a th:href="@{/task}" th:text="#{ui.global.navigation.tasks}"></a></li>
                <li><a th:href="@{/task}" th:text="#{ui.global.navigation.ranking}"></a></li>
            </ul>
        </nav>

        <div id="root">
            <h1 th:text="#{ui.global.site.title}">EPIC TASK</h1>
            <th:block th:replace="${content}" />
        </div>
    </body>
</html>
