<!DOCTYPE html>
<html
    xmlns:th="http://thymeleaf.org"
    xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5"
>
    <body>
        <nav th:fragment="navigation(page)">
            <ul class="menu">
                <li>
                    <a
                        th:href="@{/task}"
                        th:classappend="${page=='task'}?active"
                    >
                        <span class="material-icons"> check_circle </span>
                        <span th:text="#{ui.global.navigation.tasks}"></span>
                    </a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a
                        th:href="@{/user}"
                        th:classappend="${page=='user'}?active"
                    >
                        <span class="material-icons"> perm_identity </span>
                        <span th:text="#{ui.global.navigation.users}"></span>
                    </a>
                </li>
                <li>
                    <a
                        th:href="@{/ranking}"
                        th:classappend="${page=='ranking'}?active"
                    >
                        <span class="material-icons"> star </span>
                        <span th:text="#{ui.global.navigation.ranking}"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </body>
</html>
