%track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    animation: 0.2s;
}

%thumb {
    width: 25px;
    height: 25px;
    box-shadow: 0px 0px 0px $black;
    cursor: pointer;
    background: $primary;
    border-radius: 15px;
    border: 0px solid $black;
}

input[type="range"] {
    height: 31px;
    margin: 10px 0;
    width: 100%;
    background: transparent;
    -webkit-appearance: none;

    &:focus {
        outline: none;

        &::-ms-fill-lower,
        &::-ms-fill-upper,
        &::-webkit-slider-runnable-track {
            background: $primary;
        }
    }

    &::-ms-track {
        @extend %track;

        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    &::-webkit-slider-runnable-track,
    &::-moz-range-track {
        @extend %track;

        box-shadow: 0px 0px 0px $black;
        background: $primary;
        border-radius: 25px;
        border: 0px solid #000101;
    }

    &::-moz-range-thumb {
        @extend %thumb;
    }

    &::-ms-thumb {
        @extend %thumb;

        margin-top: 1px;
    }

    &::-webkit-slider-thumb {
        @extend %thumb;

        -webkit-appearance: none;
        margin-top: -6px;
    }

    &::-ms-fill-lower,
    &::-ms-fill-upper {
        background: $primary;
        border: 0px solid #000101;
        border-radius: 50px;
        box-shadow: 0px 0px 0px $black;
    }
}
