<!DOCTYPE html>
<html
    xmlns:th="http://thymeleaf.org"
    th:replace="layouts/_base :: layout(~{::title}, ~{::#content})"
>
    <head>
        <title>Error</title>
    </head>

    <body>
        <div id="content">
            <main class="error">
                <div class="card">
                    <h2>Oops! Um erro aconteceu.</h2>

                    <p>
                        <strong th:text="${error}"></strong>
                        <span th:text="${message}"></span>
                    </p>

                    <button class="primary" onclick="history.back()">
                        <span class="material-icons">arrow_back</span>
                        voltar
                    </button>
                </div>
            </main>
        </div>
    </body>
</html>
