<!DOCTYPE html>
<html
    xmlns:th="http://thymeleaf.org"
    th:replace="layouts/_base :: layout(~{::title}, ~{::#content})"
>
    <head>
        <title th:text="#{ui.home.site.title}"></title>
    </head>

    <body>
        <div id="content">
            <div class="home">
                <div class="left">
                    <h2 th:text="#{ui.home.site.subtitle}"></h2>
                    <p th:text="#{ui.home.site.tagline}"></p>

                    <div class="buttons">
                        <a href="/login" class="button primary icon">
                            <span class="material-icons"> login </span>
                            <span
                                th:text="#{ui.home.components.buttons.login}"
                            ></span>
                        </a>

                        <a href="/user/new" class="button icon">
                            <span class="material-icons"> person </span>
                            <span
                                th:text="#{ui.home.components.buttons.register}"
                            ></span>
                        </a>
                    </div>
                </div>

                <aside class="right">
                    <img alt="" th:src="@{~/images/saly.svg}" />
                </aside>
            </div>
        </div>
    </body>
</html>
