<!DOCTYPE html>
<html
    xmlns:th="http://thymeleaf.org"
    th:replace="layouts/_base :: layout(~{::title}, ~{::#content})"
>
    <head>
        <title th:text="#{ui.login.site.title}"></title>
    </head>
    <body>
        <div id="content">
            <div class="alert error" th:if="${param.error}">Login Inválido</div>

            <section class="card form">
                <h2 th:text="#{ui.login.site.title}"></h2>

                <form
                    th:action="@{/login}"
                    method="POST"
                    class="form-vertical"
                >
                    <div class="form-group">
                        <label
                            for="email"
                            th:text="#{ui.login.components.inputs.login-email.label}"
                        ></label>
                        <input
                            id="email"
                            name="username"
                            th:placeholder="#{ui.login.components.inputs.login-email.placeholder}"
                        />
                        <span class="has-error"></span>
                    </div>

                    <div class="form-group">
                        <label
                            for="password"
                            th:text="#{ui.login.components.inputs.login-password.label}"
                        ></label>
                        <input
                            id="password"
                            name="password"
                            type="password"
                            th:placeholder="#{ui.login.components.inputs.login-password.placeholder}"
                        />
                        <span class="has-error"></span>
                    </div>

                    <div class="btn-group">
                        <button>
                            <span class="material-icons"> login </span>
                            <span
                                th:text="#{ui.login.components.buttons.login}"
                            ></span>
                        </button>
                        <a class="button" th:href="@{/user/new}">
                            <span class="material-icons"> person </span>
                            <span
                                th:text="#{ui.login.components.buttons.register}"
                            ></span>
                        </a>
                    </div>
                </form>
            </section>
        </div>
    </body>
</html>
