<!DOCTYPE html>
<html
    xmlns:th="http://thymeleaf.org"
    th:replace="layouts/base :: layout(~{::title}, ~{::#content})"
>
    <head>
        <title th:text="#{ui.login.site.title}"></title>
    </head>
    <body>
        <div id="content">
            <h2 th:text="#{ui.login.site.title}"></h2>

            <form action="" method="" th:object="${user}">
                <div class="form-group">
                    <label
                        for="email"
                        th:text="#{ui.login.components.inputs.login-email.label}"
                    ></label>
                    <input
                        id="email"
                        name="email"
                        th:field="*{email}"
                        th:placeholder="#{ui.login.components.inputs.login-email.placeholder}"
                    />
                    <span class="has-error"></span>
                </div>

                <div class="form-group">
                    <label
                        for="password"
                        th:text="#{ui.login.components.inputs.login-password.label}"
                    ></label>
                    <input
                        id="password"
                        name="password"
                        type="password"
                        th:field="*{password}"
                        th:placeholder="#{ui.login.components.inputs.login-password.placeholder}"
                    />
                    <span class="has-error"></span>
                </div>

                <button th:text="#{ui.login.components.buttons.login}"></button>
                <a
                    th:href="@{/user/new}"
                    th:text="#{ui.login.components.buttons.register}"
                ></a>
            </form>
        </div>
    </body>
</html>
