<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://thymeleaf.org"
    th:replace="layouts/base :: layout(~{::title}, ~{::#content})"
>
    <head>
        <title>Login</title>
    </head>
    <body>
        <div id="content">
            <h2>Login</h2>

            <form action="" method="" th:object="${user}">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" name="email" th:field="*{email}" />
                    <span class="has-error"></span>
                </div>

                <div class="form-group">
                    <label for="password">Senha</label>
                    <input
                        id="password"
                        name="password"
                        type="password"
                        th:field="*{password}"
                    />
                    <span class="has-error"></span>
                </div>

                <button>Acessar</button>
                <a href="/user/new">Registro</a>
            </form>
        </div>
    </body>
</html>
