<!DOCTYPE html>
<html
    xmlns:th="http://thymeleaf.org"
    th:replace="layouts/base :: layout(~{::title}, ~{::#content})"
>
    <head>
        <title th:text="#{ui.tasks.home.site.title}"></title>
    </head>
    <body>
        <div id="content">
            <span class="card" th:if="${message}" th:text="${message}"></span>

            <h2 th:text="#{ui.tasks.home.site.title}"></h2>

            <a
                class="button primary"
                th:href="@{/task/new}"
                th:text="#{ui.global.components.buttons.new-task}"
            ></a>

            <ul th:each="task : ${tasks}">
                <li>
                    <p th:text="${task.title}"></p>
                    <p th:text="${task.description}"></p>
                    <p th:text="${task.points}"></p>
                    <button
                        th:text="#{ui.tasks.home.components.buttons.get-task}"
                    ></button>
                </li>
            </ul>
        </div>
    </body>
</html>
