<!DOCTYPE html>
<html
    xmlns:th="http://thymeleaf.org"
    th:replace="layouts/_base :: layout(~{::title}, ~{::#content})"
>
    <head>
        <title th:text="#{ui.tasks.home.site.title}"></title>
    </head>
    <body>
        <div id="content">
            <div class="alert" th:if="${message}" th:text="${message}"></div>

            <div class="card">
                <nav th:include="components/_nav :: navigation('task')"></nav>
                <a class="button primary action" th:href="@{/task/new}">
                    <span class="material-icons"> add_circle_outline </span>
                    <span
                        th:text="#{ui.global.components.buttons.new-task}"
                    ></span>
                </a>
                <a class="button primary action" th:href="@{/task/done}" th:unless="${#httpServletRequest.requestURI == '/task/done'}">
                    <span class="material-icons"> check_circle </span>
                    <span
                        th:text="#{ui.global.components.buttons.done-task}"
                    ></span>
                </a>
                <a class="button primary action" th:href="@{/task}" th:unless="${#httpServletRequest.requestURI == '/task'}">
                    <span class="material-icons"> dashboard </span>
                    <span
                        th:text="#{ui.global.components.buttons.all-task}"
                    ></span>
                </a>

                <div class="tasks">
                    <div class="card task" th:each="task : ${tasks}">
                        <div>
                            <h3 th:text="${task.title}"></h3>
                            <span th:text="${task.points}+'pts'"></span>
                        </div>
                        <p th:text="${task.description}"></p>

                        <div class="status">
                            <svg>
                                <circle cx="70" cy="70" r="70"></circle>
                                <circle
                                    cx="70"
                                    cy="70"
                                    r="70"
                                    th:style="${'stroke-dashoffset:' + (440 - (440 * task.status )/100 )} "
                                ></circle>
                            </svg>
                            <div class="number">
                                <h2 th:text="${task.status + '%'}"></h2>
                            </div>
                        </div>

                        <div class="task-actions">
                            <span>
                                <img
                                    class="avatar"
                                    alt="owner"
                                    th:src="${task.user.avatarUrl}"
                                    th:if="${task.user}"
                                />
                            </span>
                            <a
                                th:href="${'/task/hold/' + task.id}"
                                class="button icon primary"
                                th:title="#{ui.tasks.home.components.buttons.get-task}"
                                th:unless="${task.user}"
                            >
                                <span class="material-icons"> back_hand </span>
                            </a>
                            <a
                                th:href="${'/task/release/' + task.id}"
                                class="button icon primary"
                                th:title="#{ui.tasks.home.components.buttons.drop-task}"
                                th:if="${task.user == #authentication.getPrincipal() && task.status != 100}"
                            >
                                <span class="material-icons">
                                    waving_hand
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
