<!DOCTYPE html>
<html
    xmlns:th="http://thymeleaf.org"
    th:replace="layouts/base :: layout(~{::title}, ~{::#content})"
>
    <head>
        <title th:text="#{ui.tasks.create.site.title}"></title>
    </head>
    <body>
        <div id="content">
            <div class="card form">
                <h2 th:text="#{ui.tasks.create.site.title}"></h2>

                <form
                    class="form-vertical"
                    action="/task"
                    method="POST"
                    th:object="${task}"
                >
                    <label
                        for="title"
                        class="hide"
                        th:text="#{ui.tasks.create.components.inputs.task-title.label}"
                    ></label>
                    <input
                        th:errorclass="invalid"
                        th:field="*{title}"
                        th:placeholder="#{ui.tasks.create.components.inputs.task-title.placeholder}"
                        type="text"
                        id="title"
                        name="title"
                    />
                    <span th:errors="*{title}"></span>

                    <label
                        for="description"
                        class="hide"
                        th:text="#{ui.tasks.create.components.inputs.task-description.label}"
                    ></label>
                    <textarea
                        th:errorclass="invalid"
                        id="description"
                        name="description"
                        th:field="*{description}"
                        th:placeholder="#{ui.tasks.create.components.inputs.task-description.placeholder}"
                    >
                    </textarea>
                    <span th:errors="*{description}"></span>

                    <label
                        for="points"
                        th:text="#{ui.tasks.create.components.inputs.task-score.label}"
                    ></label>
                    <input
                        id="points"
                        name="points"
                        type="range"
                        th:field="*{points}"
                        min="10"
                        max="500"
                        step="10"
                        oninput="document.querySelector('#output-points').value=this.value"
                    />
                    <output id="output-points">10</output>
                    <span th:errors="*{points}"></span>

                    <div class="action-buttons">
                        <a
                            class="button"
                            href="/task"
                            th:text="#{ui.global.components.buttons.cancel}"
                        ></a>
                        <button
                            class="primary"
                            th:text="#{ui.global.components.buttons.save}"
                        ></button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
