<!DOCTYPE html>
<html
    xmlns:th="http://thymeleaf.org"
    th:replace="layouts/_base :: layout(~{::title}, ~{::#content})"
>
    <head>
        <title th:text="#{ui.users.create.site.title}"></title>
    </head>
    <body>
        <div id="content">
            <section class="card form">
                <h2 th:text="#{ui.users.create.site.title}"></h2>

                <form
                    th:action="@{/user }"
                    method="POST"
                    th:object="${user}"
                    class="form-vertical"
                >
                    <div class="form-group">
                        <label
                            for="name"
                            th:text="#{ui.users.create.components.inputs.user-name.label}"
                        ></label>
                        <input
                            id="name"
                            name="name"
                            th:field="*{name}"
                            th:placeholder="#{ui.users.create.components.inputs.user-name.placeholder}"
                        />
                        <span th:errors="*{name}" class="has-error"></span>
                    </div>

                    <div class="form-group">
                        <label
                            for="githubUser"
                            th:text="#{ui.users.create.components.inputs.user-github.label}"
                        ></label>
                        <input
                            id="githubUser"
                            name="githubUser"
                            th:field="*{githubUser}"
                            th:placeholder="#{ui.users.create.components.inputs.user-github.placeholder}"
                        />
                        <span
                            th:errors="*{githubUser}"
                            class="has-error"
                        ></span>
                    </div>

                    <div class="form-group">
                        <label
                            for="email"
                            th:text="#{ui.users.create.components.inputs.user-email.label}"
                        ></label>
                        <input
                            id="email"
                            name="email"
                            th:field="*{email}"
                            th:placeholder="#{ui.users.create.components.inputs.user-email.placeholder}"
                        />
                        <span th:errors="*{email}" class="has-error"></span>
                    </div>

                    <div class="form-group">
                        <label
                            for="password"
                            th:text="#{ui.users.create.components.inputs.user-password.label}"
                        ></label>
                        <input
                            id="password"
                            name="password"
                            type="password"
                            th:field="*{password}"
                            th:placeholder="#{ui.users.create.components.inputs.user-password.placeholder}"
                        />
                        <span th:errors="*{password}" class="has-error"></span>
                    </div>

                    <div class="btn-group">
                        <a th:href="@{/user}" class="button">
                            <span class="material-icons"> cancel </span>
                            <span
                                th:text="#{ui.global.components.buttons.cancel}"
                            ></span>
                        </a>
                        <button class="primary">
                            <span class="material-icons"> save </span>
                            <span
                                th:text="#{ui.global.components.buttons.save}"
                            ></span>
                        </button>
                    </div>
                </form>
            </section>
        </div>
    </body>
</html>
