<!DOCTYPE html>
<html
    xmlns:th="http://thymeleaf.org"
    th:replace="layouts/_base :: layout(~{::title}, ~{::#content})"
>
    <head>
        <title th:text="#{ui.users.home.site.title}"></title>
    </head>
    <body>
        <div id="content">
            <h2 th:text="#{ui.users.home.site.title}"></h2>

            <a
                th:href="@{/user/new}"
                th:text="#{ui.global.components.buttons.new-user}"
            ></a>

            <ul th:each="user : ${users}">
                <li class="card">
                    <div style="display: flex; gap: 5px; align-items: center">
                        <span
                            th:text="#{ui.users.create.components.inputs.user-name.label}"
                        ></span>
                        <p th:text="${user.name}"></p>
                    </div>
                    <div style="display: flex; gap: 5px; align-items: center">
                        <span
                            th:text="#{ui.users.create.components.inputs.user-email.label}"
                        ></span>
                        <p th:text="${user.email}"></p>
                    </div>
                    <div style="display: flex; gap: 5px; align-items: center">
                        <span
                            th:text="#{ui.users.create.components.inputs.user-password.label}"
                        ></span>
                        <p th:text="${user.password}"></p>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>
