<!DOCTYPE html>
<html
    xmlns:th="http://thymeleaf.org"
    th:replace="layouts/_base :: layout(~{::title}, ~{::#content})"
>
    <head>
        <title th:text="#{ui.users.update.site.title}"></title>
    </head>
    <body>
        <div id="content">
            <section class="card form">
                <h2 th:text="#{ui.users.update.site.title}"></h2>

                <form
                    th:action="@{/user/update}"
                    method="POST"
                    th:object="${user}"
                    class="form-vertical"
                >
                    <div th:replace="components/user/_form :: form"></div>

                    <div class="btn-group">
                        <a th:href="@{/user}" class="button">
                            <span class="material-icons"> cancel </span>
                            <span
                                th:text="#{ui.global.components.buttons.cancel}"
                            ></span>
                        </a>
                        <button class="primary" type="submit">
                            <span class="material-icons"> save </span>
                            <span
                                th:text="#{ui.global.components.buttons.save}"
                            ></span>
                        </button>
                    </div>
                </form>
            </section>
        </div>
    </body>
</html>
