<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://thymeleaf.org"
    th:replace="layouts/base :: layout(~{::title}, ~{::#content})"
>
    <head>
        <title>Usuários</title>
    </head>
    <body>
        <div id="content">
            <h2>Usuários</h2>

            <a href="/user/new">Novo usuário</a>

            <ul th:each="user : ${users}">
                <li>
                    <div style="display: flex; gap: 5px; align-items: center">
                        <span>Nome: </span>
                        <p th:text="${user.name}"></p>
                    </div>
                    <div style="display: flex; gap: 5px; align-items: center">
                        <span>E-mail: </span>
                        <p th:text="${user.email}"></p>
                    </div>
                    <div style="display: flex; gap: 5px; align-items: center">
                        <span>Senha: </span>
                        <p th:text="${user.password}"></p>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>
