// Colors
$primary: #a650ff;

$white: #fff;
$black: #000;

// Components
// Buttons
$btn-primary: $primary;
$btn-text-primary: #4d2478;

$btn-secondary: #25282b;
$btn-text-secondary: #a0a0a0;

// Form
$form-input-invalid: #ff0066;
$form-input-focused: #a650ff;
